@font-face {
    font-family: 'Muli', sans-serif;
    src: url("../font/static/Muli.tff") format("truetype");
}

@font-face{
    font-family: 'NotoSans', sans-serif;
    src: url("../font/NotoSans-Bold.ttf") format("truetype");
}

body {
    background-color : #005c96;
}



.nav-bar
{
    display: inline-block;
    text-align: center;
    width: 100%;
   
}

nav ul
{
    list-style-type: none;
    text-align: center;
}

nav li
{
    display: inline-block;
    margin-right: 15px;
    text-align: center;
    
}



nav a
{
    font-family: "NotoSans", sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    color: #fa8072;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #e0cda9;
    border-bottom:   solid #e0cda9;
}



.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 
.presentation p {
    font-family: 'Muli', sans-serif;
    text-align: center;
    color:  #deb887;
}