@font-face {
    font-family: 'Muli', sans-serif;
    src: url("../font/static/Muli.tff") format("truetype");
}

@font-face{
  font-family: 'NotoSans', sans-serif;
  src: url("../font/NotoSans-Bold.ttf") format("truetype");
}

body {
    background-color : #005c96;
}



nav
{
    display: inline-block;
    text-align: center;
    width: 100%;
    
}

nav ul
{
    list-style-type: none;
    text-align: center;
}

nav li
{
    display: inline-block;
    margin-right: 15px;
    text-align: center;
    
}

nav a
{
    font-family: "NotoSans", sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    color:  #4b0082;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #e0cda9;
    border-bottom:   solid #e0cda9;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #deb887;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.text {
  color: #deb887;
}
#ffcf35
* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  width: auto;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

p {
  color: #deb887;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;

  }
}


@media screen and (max-width: 900px) {
  .slideshow-container, .dot {
    width: 100%;
    /*cache le slider pour les écran de moins de 900px*/
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .row {
    display: none;
  }
}

